body{

	background-position: center;
	background-repeat: repeat;
	background-image: url("andriod.jpg");
	width: 400px;

	}

	html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.login {

	background-color: grey;
	border: 4;
	border-radius: 4pt;
	border-style: inset;
	border-color: grey;
	position: absolute;
	left: 325pt;
	
	bottom: 400;
	color: white;
	font-weight: bold;
	margin-bottom: 4pt;

}





.footer {
	position: absolute;
	top: 400pt;
	color: white;
	border: none;
	background-color: grey;
	width: 98%;
}

.submitlog {

	color: white;
	background-color: grey;
	font-weight: bolder;
	border-style: none;
	cursor: pointer;
}

.submitsign {

	color: white;
	background-color: grey;
	font-weight: bolder;
	border-style: none;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
	left : 100pt;
	width: 100pt;
}

.signup{

	color: white;
	font-weight: bold;
	margin-top: 50pt;
	position: relative;
	left : 600pt;
}


textarea {
	resize: none;
}



div p{
	
	
	width: 360pt;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	position: relative;
	left: 20pt;
	font-style: italic;
	color: grey;

}
.content{

	position: relative;
	top: -250pt;
	color: white;
	left: 50pt;
}
